/* Style Sheets for Samsung Esquire */

/* iPads (landscape) ----------- */
@media only screen and (orientation : landscape) {

}

@media (min--moz-device-pixel-ratio: 1.5),
(-o-min-device-pixel-ratio: 3/2),
(-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi),
(min-resolution: 1.5dppx) {
    /* your retina rules here */
}
/* iPads (portrait) ----------- */
@media only screen and (orientation : portrait) {
    
#logo {
  width: 200px;
  height: 100px;
  @include background-image-retina(logo, png, 200px, 100px);
  /* Image replacement code */
  display: block; 
  text-indent: -9999px; 
  white-space: nowrap; 
  overflow: hidden;
}
    
}

#title {
    width: 300px;
height:auto;
left: 170px;
top: 350px;
position: absolute;
}

#title h1 {
    font-size: 35px;
font-weight: bold;
color: #ffffff;
text-transform: uppercase;
text-decoration: underline;

}

#title p {
    color: #ffffff;
text-align: left;
text-transform: uppercase;
}

